.wp {
            width: 500px;
            margin: 20px auto;
        }

        .wp>div {
            margin: 20px;
        }

        .wp .pic span {
            display: inline-block;
            width: 68px;
            height: 21px;
            border: 1px solid red;
            text-align: center;
            line-height: 21px;
            position: relative;
        }

        .wp .pic span input {
            width: 68px;
            height: 21px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        iframe {
            display: none;
        }

        #img {
            width: 100px;
            height: 100px;
            float: right;
        }